<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      * {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
      }
      circle {
        fill: grey;
        fill-opacity: 1;
      }
      text{
          pointer-events:none;
          color: "yellow";
      }
      .red {
        fill: red;
        fill-opacity: 1;
      }
      .blue {
        fill: blue;
        fill-opacity: 1;
      }
      .green {
        fill: green;
        fill-opacity: 1;
      }
      .white {
        fill: white;
        fill-opacity: 1;
      }
    </style>
  </head>

  <body>

    <div id="canvas"></div>
    <input hidden id="color_array"></input>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript">
    //Many thanks to this champ for the inspiration http://bl.ocks.org/bycoffe
    //Find the original code and demo here http://bl.ocks.org/bycoffe/3404776

      (function() {
        function ColorArray() {
          var colors = [
          'blue'
          ,'blue'
          ,'red'
          ,'red'
          ,'orange'
          ,'orange'
          ,'white'
          ,'white'
          ];
          var grey = [
            '#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
            ,'#D3D3D3'
          ];
        var my_color = [];
          colors_shuffled = shuffle(colors);
          while (colors_shuffled.length != 0) {
            my_color.splice(0,0,colors_shuffled.splice(0,1));
            my_color.splice(0, 0, grey.splice(0,1));
              }
          while (my_color.length < 18){
              var random = Math.floor(Math.random() * (my_color.length));
              my_color.splice(random, 0, grey.splice(0,1));
          }
          console.log(my_color);
          document.getElementById("color_array").innerHTML = my_color;
        }

        function getColor() {
          color_items = document.getElementById("color_array").innerHTML;
          console.log(color_items);
          color = color_items.split(',').shift();
          var color_items_new = color_items.split(",").slice(1).join(",");
          console.log('color chosen = ' + color);
          document.getElementById("color_array").innerHTML = color_items_new;
          return color;
        }

      function shuffle(array) {
					var m = array.length, t, i;
					// While there remain elements to shuffle…
					while (m) {
						// Pick a remaining element…
						i = Math.floor(Math.random() * m--);
						// And swap it with the current element.
						t = array[m];
						array[m] = array[i];
						array[i] = t;
					}
					return array;
				}


       var createNodes = function (numNodes, radius) {
         var nodes = [],
             width = (radius * 2) + 150,
             height = (radius * 2) + 150,
             angle,
             x,
             y,
             i;
         for (i=0; i<numNodes; i++) {
          angle = (i / (numNodes/2)) * Math.PI; // Calculate the angle at which the element will be placed.
                                                // For a semicircle, we would use (i / numNodes) * Math.PI.
          x = (radius * Math.cos(angle)) + (width/2); // Calculate the x position of the element.
          y = (radius * Math.sin(angle)) + (width/2); // Calculate the y position of the element.
          nodes.push({'id': i, 'x': x, 'y': y});
         }
         return nodes;
       }

       var createSvg = function (radius, callback) {
         d3.selectAll('svg').remove();
         var svg = d3.select('#canvas').append('svg:svg')
                    .attr('width', (radius * 2) + 150)
                    .attr('height', (radius * 2) + 150);
         callback(svg);
       }

       var createElements = function (svg, nodes, elementRadius) {
         g = svg.selectAll('g')
                        .data(nodes)
                      .enter().append('g')
                      .attr('id', function (d, i) {
                        return i;
                      })
         element = g.append('svg:circle')
                        .attr('r', elementRadius)
                        .style("fill", function(d, i){ return getColor(); })
                        .style("stroke", "black")
                       .attr('cx', function (d, i) {
                          return d.x;
                        })
                        .attr('cy', function (d, i) {
                          return d.y;
                        });
          text = g.append("svg:text")
                .attr('text-anchor', 'middle')
                .attr('alignment-baseline', 'middle')
                .attr('x', function (d, i) {
                   return d.x;
                 })
                 .attr('y', function (d, i) {
                   return d.y+5;
                 })
                .text(function (d, i) {
                  return i+1;
                })
                .style({"font-weight":"bold", "font-size":"20px"});

       }


       var draw = function () {
         ColorArray();
         var numNodes = 18;
         var radius = 220;
         var nodes = createNodes(numNodes, radius);
         createSvg(radius, function (svg) {
           createElements(svg, nodes, 35);
         });

       }

      $(document).ready(function() {
          draw();
      });

      $("#radius, #numNodes").bind('keyup', function(e) {
          draw();
      });
            })();
    </script>
  </body>
</html>
