<!DOCTYPE html>
<html>

<head>
  <title>Memory Card Game</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
  <link rel="stylesheet" type="text/css" href="../static/css-animation.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style type="text/css">
    html, body { height: 100%; width: 100%; margin: 0; font-family: 'Ubuntu', sans-serif; }
  </style>

</head>

<body>
  <!--Navigation bar-->
  <div id="nav-placeholder">

  </div>

  <script>
  $(function(){
    $("#nav-placeholder").load("../../nav.html");
  });
  </script>
  <!--end of Navigation bar-->
  <div class="container-fluid">
<div id="stopwatch" class="border">Get your mind ready ... </div>
<div id="stage"><!-- --></div>

<hr class="border border-secondary">
    <div id="footer" class="footer p-3 text-center">
      <p class="">Cobbled together by Marcus using COVID-19 skills in JS</p>
    </div>
  </div>
<script src="../static/css-animation2.js"></script>
<script type="text/javascript" src="../static/css-animation-stopwatch.js"></script>
<script>
  var game = new CardGame("stage");
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
