<!DOCTYPE html>
<html>

<head>
  <title>Memory Card Game</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
  <link rel="stylesheet" type="text/css" href="../static/css-animation.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style type="text/css">
    html, body { height: 100%; width: 100%; margin: 0; font-family: 'Ubuntu', sans-serif; }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="../../index.html">COVID Games!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../../Words/templates/index.html">Word Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Maths_Spinner/templates/index.html">Math Spinner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Countdown_Cards/templates/index.html">Card Memory Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Card_Game/templates/index.html">Card Equation Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Image_Carousel/templates/index.html">Ocean Bingo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Catan_Randomiser/templates/index.html">CATAN Randomiser</a>
      </li>
    </ul>

  </div>
</nav>
  <div class="container-fluid">
<div id="stopwatch" class="border">Get your mind ready ... </div>
<div id="stage"><!-- --></div>

<hr class="border border-secondary">
    <div id="footer" class="footer p-3 text-center">
      <p class="">Cobbled together by Marcus using COVID-19 skills in JS</p>
    </div>
  </div>
<script src="../static/css-animation2.js"></script>
<script type="text/javascript" src="../static/css-animation-stopwatch.js"></script>
<script>
  var game = new CardGame("stage");
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
