<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Roulette Wheel</title>
  <link rel="stylesheet" href="static/demo.css">
</head>
<body>
<div class="container">


  <section class="wheel-container">
    <canvas id="wheel-1" ></canvas>
    <output id="output"></output>
  </section>

  <section class="actions">
    <button class="btn-spin punch">Spin!</button>
  </section>
  
  <footer class="footer">

  </footer>

</div>
<script src="static/prize-wheel.js"></script>
<script src="static/demo.js"></script>


</body></html>
